<h1>Crear Nota</h1>

<p> <strong> Examen : </strong>  <%= @exam %> </p>
<p> <strong> Cursada: </strong> <%= @exam.course %></p>

<%= render 'form', { grade: @grade, students: @students, exam: @exam } %>

