
<h1>Cursada <%= @course.year %> </h1>

<p> Aca van las estadisticas </p>

<%= link_to 'Editar', edit_course_path(@course), class: 'btn btn-success' %>
<%= link_to 'Volver', courses_path, class: 'btn btn-primary' %>
